.navbar-nav a{
  font-size: 18px;
}

.hero .banner-titles{
  font-size: 56px;
}

.card-img{
  height: 90vh;
    object-fit: cover;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000a3;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}